<div class="container">
  <div　class="row">
    <div class="">
      <h1>
      　プロフィール編集
      </h1>
    </div>
    <div class="row">
      <div class="">
        <%= form_with model: @user, local:true do |f| %>
        <p>
          <!--画像プレビュー実装-->
          <!--file_fieldをdisplay:noneの非表示にし、クラスを付与する。-->
          <%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
          <!--上で付与したクラスのHTML(file_field)がクリックされたらJavaScriptの処理を実行する。-->
          <%= attachment_image_tag @user, :image, size: '200x200', fallback: 'noimage.png', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev'  %>
        </p>
        <p><%= f.text_field :name %></p>
        <p><%= f.text_area :introduction %></p>
        <p><%= f.submit '更新する', class: "btn btn-primary" %></p>
      <% end %>
      </div>
      
      
    </div>
  </div>
</div>

