<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <% if comment.user == current_user %>
      <!--チャット風吹き出し-->
      <!--右寄せ-->
      <div class="right flex">
        <div class="">
          <div class="balloon1-right">
            <%= comment.body %>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <div class="post-s-u-comment-datetime migi">
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
        <div>
          <%= link_to user_path(comment.user.id) do %>
            <%= attachment_image_tag comment.user, :image, fallback: 'noimage.png', class: 'postcard-user-image', format: 'jpg'  %>
          <% end %>
        </div>
      </div>
    <% else %>
      <!--チャット風吹き出し-->
      <!--左寄せ-->
      <div class="left flex">
        <div>
          <%= link_to user_path(comment.user) do %>
            <div class="image">
              <%= attachment_image_tag comment.user, :image, fallback: 'noimage.png', class: 'postcard-user-image', format: 'jpg'  %>
            </div>
          <% end %>
        </div>
        <div>
          <div class="postcard-user-name"><%= comment.user.name %></div>
          <div class="balloon2-left">
            <%= comment.body %>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>  
          <div class="post-s-u-comment-datetime">
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>