<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <%= attachment_image_tag comment.user, :image, size: '100x100', format: 'jpg'  %>
    <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id) %></p>
    <%= comment.body %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    
    <% if comment.user == current_user %>
      <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: 'btn btn-danger' %></p>
    <% end %>
  <% end %>
<% end %>
