
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="<mx-au></mx-au>to text-center">
                    <h1 class=" mx-auto my-0 text-uppercase">Leave  memories</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
                    <% unless signed_in? %>
                    <a><%= link_to 'ログインする', new_user_session_path, class: "btn btn-primary p-3 px-4 mr-30" %></a>
                    <% end %>
                    
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">SHARE HAPPYとは</h2>
                        <p class="text-white-50">
                            たくさん笑って、たくさん泣いた大切な思い出を<br>
                            ずっと大切に保管しておくためのサービスです
                        </p>
                    </div>
                </div>
                <!--<img class="img-fluid" src="/img/ipad.png" alt="" />-->
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><%= image_tag 'wedding.jpeg'%></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4><%= link_to '思い出を残す', posts_path, class:'link' %></h4>
                            <p class="text-black-50 mb-0">思い出を残すだけではなく、<br>次の幸せを作る事ができます。</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><%= image_tag 'wedding1.jpeg'%></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white"><%= link_to '式場を探す', places_path, class:'link_title' %></h4>
                                    <p class="mb-0 text-white-50">レビュー機能、住所検索により<br>より条件に合った式場を検索できます。</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><%= image_tag 'wedding2.jpeg'%></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white"><%= link_to '式場を評価する', places_path, class:'link_title' %></h4>
                                    <p class="mb-0 text-white-50">自分が式を挙げた式場の良さを伝えることが出来ます。</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <footer class="footer bg-black small text-center text-white-50"><div class="container"></div></footer>
      
