<div class="container">
  <div　class="row">
    <div class="">
      <h1>
      　結婚式場編集
      </h1>
    </div>
    <div class="row">
      <div class="">
        <!--編集したいけど新規作成になっている-->
        <%= form_with model: @place, local:true do |f| %>
        <p>
          <%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
          <%= attachment_image_tag @place, :image, fallback: 'noimage.png', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev'  %>
        </p>
        <p><%= f.text_field :name %></p>
        <p><%= f.text_area :postal_code %></p>
        <p><%= f.text_area :address %></p>
        <p><%= f.text_area :introduction %></p>
        <p><%= f.submit '更新する', class: "btn btn-primary" %></p>
        <p><%= link_to '削除する', place_path(@place), method: :delete, class: "btn btn-primary" %></p>
        <% end %>
        
      </div>
      
      
    </div>
  </div>
</div>
