<div class="container">
  <div　class="row">
    <div class="">
      <h1>
      　結婚式場登録
      </h1>
    </div>
    <div class="row">
      <div class="">
        <!--登録フォーム-->
        <!--協会の画像いっぱい保存したい-->
        <%= form_with model: @place, local:true do |f| %>
        <p>
          <%= f.file_field :image, class: 'img_field', style: 'display:none;'%>
          <%= attachment_image_tag @place, :image, fallback: 'noimage.png', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev'  %>
          </p>
        <p><%= f.text_field :name, placeholder: "名前" %></p>
        <p><%= f.text_field :address, placeholder: "住所" %></p>
        <p><%= f.text_area :introduction, placeholder: "紹介文" %></p>
        <p><%= f.text_field :postal_code, placeholder: "郵便番号" %></p>
        <p><%= f.submit '登録する', class: "btn btn-primary" %></p>
        <% end %>
      </div>
      
      
    </div>
  </div>
</div>
