<div class="container-fluid ">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="head post">
        <!--タイトル-->
        <h4 class="title">
        結婚式を見る
        </h4>
        <div class="post-action">
          <!--post.action-->
          <%= link_to '投稿する', new_post_path, class: 'btn btn-outline-primary btn-design cut-padding fa fa-pencil' %>
        </div>
      </div>
      <!--投稿-->
    <div class="row post-wedding">
      <% @posts.each do |post| %>
      <div class="card postcard-wrapper">
        <!---->
        <div class="postcard">
          <%= link_to post_path(post) do %>
          <!--画像-->
            <div>
              <%= attachment_image_tag post, :image, size: "60%", class: 'img-fluid img-size, mx-auto postcard-image' %>
            </div>
            <!--タイトル-->
            <h5 class="postcard-title"><%= post.title %></h5>
            <!--本文-->
            <div class="postcard-text">
              <%= post.body %>
              <div class="reaction">
                <!--いいね-->
                <div class="favorite">
                  <% if post.favorited_by?(current_user) %>
                  <i class="fa fa-heart favorite-color" aria-hidden="true", style=""></i>
                  <span class="postcard-favorite-text favorite-color">
                    <%= post.favorites.count %>
                  </span>
                <% else %>
                  <i class="fa fa-heart-o postcard-favorite-heart favorite-color" aria-hidden="true"></i>
                  <span class="postcard-reaction-text favorite-color">
                    <%= post.favorites.count %>
                  </span>
                <% end %>
                </div>
                <!--コメント-->
                <div class="postcard-comment">
                  <i class="fa fa-commenting comment-color" aria-hidden="true"></i>
                  <span class="postcard-reaction-text comment-color"><%= post.comments.count %></span>
                </div>
              </div>
            </div>
            <!--post.user-->
            <%= link_to user_path(post) do %>
            <div class="postcard-user">
              <!--post.user.img-->
              <%= attachment_image_tag post.user, :image, fallback: "noimage.png", class: 'postcard-user-image' %>
              <!--post.user.name-->
              <span class="postcard-user-name">
                <%= post.user.name %>
              </span>
              
              
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <% end %>
      <!--postcard終わり-->
    </div>
    <%= paginate @posts %>
    
    </div>
  </div>
</div>