<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="head review">
        <div class="r-wrapper">
          <!--タイトル-->
          <h4 class="title">
          この式場をレビュー
          </h4>
          <!--式場-->
          <div class="r-place flex">
            <!--式場画像-->
            <%= attachment_image_tag @place, :image, class: 'image r-p-image' %>
            <div class="r-p-text">
              <!--式場名-->
              <div class="r-p-name"><%= @place.name %></div>
              <!--説明-->
              <div class="r-p-introduction"><%= @place.introduction %></div>
              <!--住所-->
              <span class="r-p-address">
                <i class="fa fa-map-marker" aria-hidden="true"><%= @place.address %></i>
              </span>
            </div>

          </div>
          <!--レビュー-->
          <div class="r-review">
            <%= form_with model: @review, url: place_reviews_path, local:true do |f| %>
              <!--raty読み込み-->
              <div class="form-group row " id="star">
                <div class>
                  <%= f.label :rate,'評価', class: 'r-p-name' %></br>
                </div>
                  <%= f.hidden_field :rate, id: :review_star %>
              </div>
              <!--星jQuery -->
              <div>
                <script>
                $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'review[rate]',
                  half: false,
                });
              </script>  
              </div>
              
              <!--タイトル入力欄-->
              <div class="f-title">
                レビュータイトル
              </div>
              <%= f.text_field :title, placeholder: "最も伝えたいポイントは何ですか？", class: 'r-r-title' %>
              <!--本文入力欄-->
              <div class="f-title">
                レビューを追加
              </div>
              <%= f.text_area :body, placeholder: "良かったところ/気になったところはなんですか？", class: 'r-r-body'%>
              <!--送信ボタン-->
              <%= f.submit "送信", class: "btn btn-lg btn-base-1 mt-20 pull-right", class: 'btn r-r-submit' %>
            <% end %>

          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
 