<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="head">
      <h4>結婚式場一覧</h4>
        <%= link_to '式場を登録', new_place_path, class: "btn btn-primary", "data-turbolinks": false %>
        <% @places.each do |place| %>
          <!--場所情報-->
          <%= link_to place_path(place) do %>
            <%= attachment_image_tag place, :image, fallback: "noimage.png", "data-turbolinks": false %>
            <%= place.name %>
            <%= place.introduction %>
            <%= place.address %>
           
            <!--何人のユーザーがこの式場を利用したのか-->
            <%= place.posts.count %>人の方が結婚式を開催しました。
          
          <% end %>
          
            <!--レビュー件数と評価の平均-->
            <div id="star-rate-<%= place.id %>">
              <%= link_to place_reviews_path(place) do %>
              レビュー<%= place.reviews.count %>件 
              <% end %>
            </div>
            <script>
              $('#star-rate-<%= place.id %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'review[rate]',
                half: true,
                readOnly: true,
                score: "<%= place.reviews.average(:rate).to_f.round(1) %>",
              });
            </script>  
        <% end %>
     
      
      　</div>
    </div>
  </div>
</div>