<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
      <h4>結婚式場一覧</h4>
   
      
        <%= link_to '式場を登録', new_place_path, class: "btn btn-primary", "data-turbolinks": false %>
        <% @places.each do |place| %>
          <%= link_to place_path(place) do %>
            <p><%= attachment_image_tag place, :image, size: "100x100", fallback: "noimage.png", "data-turbolinks": false %></p>
          <% end %>
          <p><%= place.name %></p>
        
        <!-- 評価javascript -->
            <div id="star-rate-<%= place.id %>">口コミ<%= place.reviews.count %>件</div>
            <script>
              $('#star-rate-<%= place.id %>').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'review[rate]',
                half: true,
                readOnly: true,
                score: "<%= place.reviews.average(:rate).to_f.round(1) %>",
              });
            </script>  
        <% end %>
     
      
      
    </div>
  </div>
</div>