 
<div class="container">
  <div　class="row">
    <div class="">
      <h4><%= @place.name %></h>
    </div>
    <!--ユーザー情報-->
    <div class="row">
      <div class="">
      　<!--imageが表示されない-->
      　
      　<!--% place.image.each do |image|%>-->
            
        <!--% end %>-->
      　
        <p><%= attachment_image_tag @place, :image, size: "100x100", fallback: "noimage.png" %></p>
        
        <!-- 評価javascript -->
        <%= link_to place_reviews_path(@place) do %>
        <div id="star-rate-<%= @place.id %>">口コミ<%= @place.reviews.count %>件</div>
        <script>
        if ($('#star-rate-<%= @place.id %>').children().length === 0) {
          $('#star-rate-<%= @place.id %>').raty({
            size     : 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            scoreName: 'review[rate]',
            half: true,
            readOnly: true,
            score: "<%= @place.reviews.average(:rate).to_f.round(1) %>",
          }); 
        }
        </script>  
        <% end %>
        <p><%= @place.name %></p>
        <p><%= @place.postal_code %></p>
        <p><%= @place.address %></p>
        <p><%= @place.introduction %></p>
        <span><%= link_to '一覧に戻る', places_path, "data-turbolinks": false, class: "btn btn-primary" %></span>
        <% if @place.user == current_user %>
          <span><%= link_to '編集する', edit_place_path(@place), "data-turbolinks": false, class: "btn btn-primary" %></span>
        <% end %>
      
      </div>
      

    </div>
  </div>
</div>
